<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notes</title>
        <script type="text/javascript">
            document.documentElement.classList.add('js');
        </script>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <script src="/static/script.js" async defer></script>
    </head>
    <body>
        <form action="/save" method="POST">
            <header id="header">
                {% if ishelp is defined %}
                    <a href="/edit" class="button">
                        <i class="fa-solid fa-arrow-left"></i>
                        <span class="label">Back</label>
                    </a>
                {% endif %}
                {% if edit %}
                    <div id="disconnected-message">
                        <span class="cloud-animate">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                        </span>
                        <span class="sm-hide">Disconnected</span>
                    </div>
                    <div id="save-warning">
                        <label>
                            <input type="checkbox" id="save-message-hide">
                            <strong title="Click this message to hide it" id="save-warning-text">
                                Warning: <span class="noscript">JavaScript is disabled.</span> Your edits are not saved automatically
                            </strong>
                        </label>
                    </div>
                    <div id="connected-message" title="Your edits are being saved automatically">
                        <span class="cloud-animate">
                            <i class="fa-solid fa-cloud"></i>
                        </span>
                        <span class="sm-hide">Connected</span>
                    </div>
                    <button type="submit" id="submit" class="button">
                        <i class="fa-solid fa-floppy-disk"></i>
                        <span class="label sm-hide">Save</span>
                    </button>
                {% endif %}
                <div class="expand"></div>
                {% if ishelp is not defined %}
                    <a href="/help" class="button">
                        <i class="fa-solid fa-circle-question"></i>
                        <span class="label sm-hide">Help</span>
                    </a>
                    <a href="{{ "/view" if edit else "/edit" }}" class="button">
                        {% if edit %}
                            <i class="fa-solid fa-eye"></i>
                            <span class="label sm-hide">View Only</span>
                        {% else %}
                            <i class="fa-solid fa-pencil"></i>
                            <span class="label sm-hide">Edit</span>
                        {% endif %}
                    </a>
                {% endif %}
                <button type="button" id="fullscreen" class="button">
                    <i class="fa-solid fa-expand"></i>
                    <span class="label sm-hide">Fullscreen</span>
                </button>
            </header>
            <main id="root" class="node" data-id="{{ tree.id }}">
                {% include "tree.html" %}
            </main>
        </form>
    </body>
    {% if edit %}
        <template id="new_node">
            {% with tree = template_tree %}
                {% include "tree.html" %}
            {% endwith %}
        </template>
    {% endif %}
</html>
